# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Prisma
backend/prisma/dev.db

# Next
frontend/.next/
frontend/out/

# Logs
logs
*.log

# OS
.DS_Store
